@layer reset, base, components, utilities;

/* -------------------- ROOT -------------------- */

:root {

    /* COLORS */

    --color-black: #060702;
    --color-brown: #312913;
    --color-dark-grey: #201f20;
    --color-light-grey: #7F8084; 
    --color-orange: lab(59.4% 12.08 64.84);

    /* FONTS */

    --montserrat: 'montserrat', sans-serif;
    --rpg: 'rpg', sans-serif;

    /* TRANSITIONS */

    --trans1: 0.3s ease;

    /* SPACE */

    --space-1: 1rem;
    --space-2: 2rem;
    --space-3: 4rem;
    --space-4: 6rem;
}

/* -------------------- RESET -------------------- */

@layer reset {
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box; /* Inclut les paddings et bordures dans la largeur/hauteur */
    }

    html {
        -webkit-text-size-adjust: 100%; /* Empêche le redimensionnement du texte sur iOS */
    }

    body {
        box-sizing: border-box;
        text-rendering: optimizeSpeed;
    }

    a {
        color: inherit; /* Hérite de la couleur du parent */
        text-decoration: none; /* Supprime les soulignements des liens */
    }

    ul, ol {
        list-style: none; /* Supprime les puces des listes */
    }

    ::-webkit-scrollbar {
        z-index: 10;
    }

    button, input[type="submit"], input[type="reset"] {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: inherit;
    }
}

/* -------------------- LAYERS -------------------- */

@layer base {

    html {
        box-sizing: border-box;
        scroll-behavior: smooth;
    }

    body {
        background-color: var(--color-black);
    }

    @font-face {
        font-family: 'rpg';
        src: url(../addons/rpg\ font.woff) format('woff');
        font-weight: normal;
        font-style: normal;
    }

    .bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: black;
    }

    .bg::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.15;
        background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='100%25' height='100%25' fill='none'/%3E%3Cpath d='M0 0h50v50H0z' stroke='%235C5D56' stroke-width='1' fill='none'/%3E%3C/svg%3E");
        background-repeat: repeat;
        background-position: center center;
        pointer-events: none;
    }

}

@layer components {

    /* le menu est commun a toutes les pages */

    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 3;
        flex-direction: column;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(100px);

        opacity: 0;
        visibility: hidden;
        transition: opacity var(--trans1), visibility var(--trans1);
        pointer-events: none;
    }

    nav.active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    nav a {
        font-family: var(--rpg);
        font-size: var(--space-2);
        color: white;
        transition: var(--trans1);
    }

    nav a:hover {
        color: var(--color-orange);
    }

    menu {
        position: fixed;
        height: var(--space-3);
        width: 100%;
        top: 0%;
        align-items: center;
        z-index: 10;
    }

    menu button {
        font-size: var(--space-2) !important;
        color: white;
        transition: transform var(--trans1), opacity var(--trans1);
        /* Ajout des propriétés pour centrer */
        width: var(--space-2);      /* Largeur fixe */
        height: var(--space-2);     /* Hauteur fixe */
        line-height: 1;            /* Réinitialisation de la hauteur de ligne */
    }

    menu button.shrink {
        transform: scale(0);
        opacity: 0;
    }

    menu button.grow {
        transform: scale(1);
        opacity: 1;
    }

    footer {
        bottom: 0;
        background-color: var(--color-dark-grey);
    }

    .button {
        background-color: var(--color-orange);
        color: var(--color-black);
        border: none;
        border-radius: 5px;
        padding: var(--space-1);
        cursor: pointer;
        transition: var(--trans1);
    }

    .button:hover {
        background-color: var(--color-dark-grey);
        color: var(--color-orange);
    }

    .button:active {
        transform: scale(0.9);
    }

    p {
        font-family: var(--montserrat);
        color: var(--color-light-grey)
    }

    .color-focus {
        color: var(--color-orange);
    }

    .quote {
        font-style: italic;
        font-size: 1.5rem;
        font-family: var(--montserrat);
        color: var(--color-light-grey);
    }

    /* HEADINGS */

    h1 {
        color: white;
        font-family: var(--rpg);
    }

    h2 {

    }

    h3 {

    }

    h4 {

    }

    h5 {

    }

    h6 {
        
    }

}

@layer utilities {

    .glass { 
        background: rgba(255, 255, 255, 0.11);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.2);
    }

    /* ---------- FLEX ---------- */

    .flex {display: flex;}

    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* ---------- TEXT ---------- */

    .montserrat {
        font-family: var(--montserrat);
    }

    /* ---------- COLOR ---------- */

    .color-orange {
        color: var(--color-orange);
    }

    .color-light-grey {
        color: var(--color-light-grey);
    }

    /* ---------- MARGES & PADDINGS ---------- */

    .m-1 { margin: var(--space-1); }
    .m-2 { margin: var(--space-2); }
    .m-3 { margin: var(--space-3); }
    .m-4 { margin: var(--space-4); }

    .mt-1 { margin-top: var(--space-1); }
    .mt-2 { margin-top: var(--space-2); }
    .mt-3 { margin-top: var(--space-3); }
    .mt-4 { margin-top: var(--space-4); }

    .mb-1 { margin-bottom: var(--space-1); }
    .mb-2 { margin-bottom: var(--space-2); }
    .mb-3 { margin-bottom: var(--space-3); }
    .mb-4 { margin-bottom: var(--space-4); }

    .ml-1 { margin-left: var(--space-1); }
    .ml-2 { margin-left: var(--space-2); }
    .ml-3 { margin-left: var(--space-3); }
    .ml-4 { margin-left: var(--space-4); }

    .mr-1 { margin-right: var(--space-1); }
    .mr-2 { margin-right: var(--space-2); }
    .mr-3 { margin-right: var(--space-3); }
    .mr-4 { margin-right: var(--space-4); }

    .p-1 { padding: var(--space-1); }
    .p-2 { padding: var(--space-2); }
    .p-3 { padding: var(--space-3); }
    .p-4 { padding: var(--space-4); }

    .pt-1 { padding-top: var(--space-1); }
    .pt-2 { padding-top: var(--space-2); }
    .pt-3 { padding-top: var(--space-3); }
    .pt-4 { padding-top: var(--space-4); }

    .pb-1 { padding-bottom: var(--space-1); }
    .pb-2 { padding-bottom: var(--space-2); }
    .pb-3 { padding-bottom: var(--space-3); }
    .pb-4 { padding-bottom: var(--space-4); }

    .pl-1 { padding-left: var(--space-1); }
    .pl-2 { padding-left: var(--space-2); }
    .pl-3 { padding-left: var(--space-3); }
    .pl-4 { padding-left: var(--space-4); }

    .pr-1 { padding-right: var(--space-1); }
    .pr-2 { padding-right: var(--space-2); }
    .pr-3 { padding-right: var(--space-3); }
    .pr-4 { padding-right: var(--space-4); }

    /* ---------- DIMENSIONS ---------- */

    .h-0px {height: 0px;}

    .h-100vh {height: 100vh;}

    .w-100vw {width: 100vw;}

    .w-100pr {width: 100%;}

    .dim-100 {width: 100%; height: 100%;}

    .hover-1:hover {
        transform: translateY(-0.5rem);
        box-shadow: var(--color-black) 1rem;
        background: rgba(255, 255, 255, 0.2);
    }
}

/* -------------------- MEDIA QUERIES -------------------- */

@media (max-width: 820px) {
    header {
        max-height: 25vh;
    }

    header .logo-complex {
        max-width: 75%;
    }

    #bio p {
        max-width: 90%;
    }

    .tourn {
        width: 90%;
    }

}

@media (max-width: 600px) {
    h1 {
        max-width: 80vw;
        text-wrap: wrap;
        overflow-wrap: break-word;
        font-size: 1.5rem;
        margin-top: var(--space-3);
    }
    
    header .logo-complex {
        max-width: 80%;
    }

    .disc-contain {
        flex-direction: column;
        width: 90%;
    }

    .tourn {
        flex-direction: column;
    }

    .tourn span {
        font-size:1.25rem;
    }

    #bio p {
        max-width: 80%;
    }

    .links {
        flex-wrap: wrap;
    }
}
