.cls-1 {
    fill: none;
    stroke: #fff;
    stroke-width: 2px;
    animation: draw 2s ease-in forwards;
}

.anim-speed {
    animation: draw 2s ease-in forwards;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0; /* Révèle le contour complet du logo */
    }
}

.logo-complex {
    max-width: 25%;
}

#bio {
    flex-direction: column;
}

#discographie {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.disc-contain {
    flex-direction: row;
}

.disc-project {
    height: 25vh;
    width: 25vh;
    border-radius: 0.5rem;
    cursor: pointer;
    object-fit: contain;
    transition: var(--trans1);
}

.disc-project img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}

#tournées {
    flex-direction: column;
}

.tourn {
    border-radius: 0.5rem;
    cursor: pointer;
    width: 50%;
    min-height: var(--space-3);
    transition: var(--trans1);
    justify-content: space-between;
}

.tourn span {
    font-size: 1.5rem;
    font-family: var(--montserrat);
    color: white;
}

.tourn .event {
    font-weight: 400;
}

.tourn .place {
    font-weight: 200;
}

.tourn .date {
    font-weight:200;
}

header {
    height: 40vh;
    width: 100%;
    overflow-y: hidden;
    position: relative;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.75;
    }
}

header img {
    width: 100%;
    object-fit: cover;
    display: block;
    object-position: center 40%;
    animation: fadeIn 1s ease-in forwards;
}

header svg {
    z-index: 1;
    position: absolute;
}

#contact {
    flex-direction: column;
}

.links a {
    transition: var(--trans1);
}

.links a:hover {
    transform: scale(1.1);
}

.icon {
    filter: invert(1) brightness(100%);
    width: 40px;
}

.apple-icon {
    width: 100px;
}

.amaz-icon {
    width: 50px;
}