#team {
    flex-wrap: wrap;
    align-items: flex-start;
}

.teammate {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.teammate h3 {
    color: white;
    font-weight: 400;
}

.teammate img {
    width: clamp(40px , 30vw , 200px);
    height: clamp(40px , 30vw , 200px);
    object-fit: cover;
    border-radius: 10px;
}

.gaww {
    filter: invert(100%);
}

.email {
    max-width: 80%;
    text-wrap: wrap;
}